.objects{
    background-color: #F3F6FA;
    padding-bottom: 30px;
    height: 86vh;
    .blog_header {
        background: #FFFFFF;
        box-shadow: 0px 2px 4px #CCDAEC;
        position: relative;
        padding: 20px 0;
        // margin-bottom: 40px;
        min-height: 90px;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        .className_title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            a{
                position: relative;
                text-decoration: none;
                display: flex;
                align-items: flex-start;
                img {
                    object-fit: contain;
                    margin-right: 30px;
                    cursor: pointer;
                }
                h4 {
                    font-family: 'SF Pro Display';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 28px;
                    line-height: 32px;
                    color: #23222B;
                    margin-bottom: 0px;
                }
            }
            h6 {
                font-family: 'SF Pro Display';
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
                // color: #61D2A1;
                margin-bottom: 0;
            }
            span{
                font-family: 'SF Pro Display';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                color: #23222B;
                line-height: 17px;
                margin-bottom: 0;
                margin-right: 5px;
            }
        }
    }
    .tab_table{
        display: flex;
        align-items: center;
        margin-top: 20px;
        ul{
            display: flex;
            align-items: center;
            gap: 20px;
            padding-left: 0;
        }
        .time_tab_class1 {
            font-family: 'SF Pro Display';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            color: #FCAF03;
            border: 1px solid #FCAF03;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 44px;
            cursor: pointer;
            padding: 0 10px;
        }
        .active1{
            font-family: 'SF Pro Display';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            color: #FFFFFF;
            border: 1px solid #FCAF03;
            background-color: #FCAF03;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 44px;
            cursor: pointer;
            padding: 0 10px;
        }
    }
}
