.system {
    form {
        .form_group_select {
            gap: 10px;
            display: flex;
            align-items: end;

            .form_filter_item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 10px;
                
            }

            .form_control {
                width: 100%;
                position: relative;
                label {
                    padding-left: 0;
                    margin-bottom: 0;
                    font-family: "SF Pro Display";
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 21px;
                    color: #A0ABBE;
                    cursor: pointer;
                    padding-bottom: 5px;
                    list-style: none !important;
                }

                .select-search-container {
                    position: relative;
                    width: 100% !important;
                }
                img{
                    position: absolute;
                    right: 10px;
                    top: 40px;
                }
            }

            .all_btn {
                display: flex;
                align-items: end;
                justify-content: end;
                gap: 24px;
                
                .save {
                    background: #00827B;
                    border-radius: 6px;
                    font-family: 'SF Pro Display';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    text-align: center;
                    color: #EDF6FD;
                    height: 50px;
                    width: 50%;
                    outline: none;
                    border: none;
                    justify-content: center;
                    display: flex;
                    align-items: center;
                    img{
                        margin-left: 10px;
                    }
                }

                .clear {
                    background-color: #00827B;
                    border-radius: 6px;
                    font-family: 'SF Pro Display';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    text-align: center;
                    width: 100%;
                    height: 50px;
                    color: #EDF6FD;
                    border: none;
                    outline: none;
                }
            }
        }
    }

    .system_blog {
        width: 100%;
    }

    .system_card_shed {
        width: 100%;
        height: 100px;
        border-radius: 10px;
        display: flex;
        place-items: center;
        justify-content: space-around;
        background: #D8E7FF;
        border: 1px solid #2979FF;
        p {
            font-size: 19px;
            font-style: normal;
            font-weight: 700;
            letter-spacing: .4px;
            line-height: 24px;
            color: #2979FF;
            margin-bottom: 0;
        }
        span{
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            color: #2979FF;
        }
    }

    .system_card_pro {
        width: 100%;
        height: 100px;
        border-radius: 10px;
        display: flex;
        place-items: center;
        background: #F7E7FF;
        justify-content: space-around;
        border: 1px solid #C593F5;
        p {
            font-size: 19px;
            font-style: normal;
            font-weight: 700;
            letter-spacing: .4px;
            line-height: 24px;
            color: #C593F5;
            margin-bottom: 0;
        }
        span{
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            color: #C593F5;
        }
    }
    .system_card_obj{
        width: 100%;
        height: 100px;
        border-radius: 10px;
        display: flex;
        place-items: center;
        background: #FFF4DB;
        justify-content: space-around;
        border: 1px solid #FF7A50;
        p {
            font-size: 19px;
            font-style: normal;
            font-weight: 700;
            letter-spacing: .4px;
            line-height: 24px;
            color: #FF7A50;
            margin-bottom: 0;
        }
        span{
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            color: #FF7A50;
        }
    }

    .system_card_s {
        width: 100%;
        height: 100px;
        border-radius: 10px;
        display: flex;
        place-items: center;
        background: #FFE1E6;
        justify-content: space-around;
        border: 1px solid #FF4960;
        p {
            font-size: 19px;
            font-style: normal;
            font-weight: 700;
            letter-spacing: .4px;
            line-height: 24px;
            color: #FF4960;
            margin-bottom: 0;
        }
        span{
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            color: #FF4960;
        }
    }

    .system_card_k {
        width: 100%;
        height: 100px;
        border-radius: 10px;
        display: flex;
        place-items: center;
        background: #D4FDE5;
        justify-content: space-around;
        border: 1px solid #00CE96;
        p {
            font-size: 19px;
            font-style: normal;
            font-weight: 700;
            letter-spacing: .4px;
            line-height: 24px;
            color: #00CE96;
            margin-bottom: 0;
        }
        span{
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            color: #00CE96;
        }
    }
}