.login__edit {
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;


    .eye_btns1 {
        position: absolute;
        bottom: 86px;
        right: 20px;
        cursor: pointer;
    }

    .eye_btns2 {
        position: absolute;
        bottom: 86px;
        right: 20px;
        cursor: pointer;
    }
    .right__edit {
        .loginedit_form {
            .form__text{
                text-align: center;
                margin: 0 auto;
                margin-bottom: 34px;
            }
            form {
                display: grid;
                position: relative;
                .form_item{
                    width: 408px;
                    label{
                        color: #000;
                        font-family: 'SF Pro Display';
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        margin-bottom: 8px;
                    }   
                    input {
                        position: relative;
                        border: 1px solid #C1CCDC;
                        border-radius: 10px;
                        height: 58px;
                        padding-left: 18.17px;
                        min-width: 408px;
                        width: 100%;
                        margin-bottom: 20px;
                        outline: none;
    
                        &::placeholder {
                            font-family: 'SF Pro Display';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 17px;
                            color: #C1CCDC;
                        }
                    }
                }

                .loginedit_btn {
                    background: #B2B2B2;
                    border-radius: 6px;
                    font-family: 'SF Pro Display';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    text-align: center;
                    color: #EDF6FD;
                    height: 49px;
                    outline: none;
                    border: none;
                    &.disabled{
                        cursor: not-allowed;
                        pointer-events: none;
                    }
                    &.active{
                        background: #61D2A1;
                    }
                    // &:hover{
                    //     background: #251584;
                    //     border-radius: 6px;
                    // }
                }
            }
        }
    }
}


@media (max-width: 1200px ) {
    .login__edit{
        max-height: 380px;
        padding: 20px 66px;
    }
}