.super_modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(128, 128, 128, 0.706);
    .myModals {
        padding: 40px;
        position: fixed;
        z-index: 9999;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        // transition: .3s ease;
        animation: anim .6s ease;
        // pointer-events: none;
        transition: all 0.3s;
        border: none;
        @keyframes anim {
            0%{
               top: -50%; 
            }
            100%{
                top: 50%;
            }
        }
        .myModal__rel {
            width: 100%;
            margin: 0 auto;
            background: #FFFFFF;
            border-radius: 20px;
        }

        &__exit {
            width: 100vw;
            height: 100vh;
            background: #23222B;
            opacity: 0.3;
            z-index: 98;
            position: fixed;
            top: 0;
            left: 0;
        }

        &__close {
            img {
                position: absolute;
                right: -3px;
                top: -3px;
                cursor: pointer;
                z-index: 99999;
            }
        }
    }
}


// @media (max-width: 1200px) {
//     .super_modal .myModals .myModal__rel{
//         height: 500px !important;
//         max-width: 630px !important;
//         overflow-y: scroll;
//     }
// }