.sms {
    background-color: #F3F6FA;
    padding-bottom: 30px;
    min-height: 86vh;

    .blog_header {
        background: #FFFFFF;
        box-shadow: 0px 2px 4px #CCDAEC;
        position: relative;
        padding: 20px 0;
        min-height: 90px;
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        .className_title {
            display: flex;
            justify-content: space-between;
            align-items: center;

            a {
                position: relative;
                text-decoration: none;
                display: flex;
                align-items: flex-start;

                img {
                    object-fit: contain;
                    margin-right: 30px;
                    cursor: pointer;
                }

                h4 {
                    font-family: 'SF Pro Display';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 28px;
                    line-height: 32px;
                    color: #4030A4;
                    margin-bottom: 12px;
                }
                h2{
                    font-family: 'SF Pro Display';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 27px;
                    color: #4030A4;
                    margin-bottom: 0px;
                }
            }

            h6 {
                font-family: 'SF Pro Display';
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
                color: #4030A4;
                margin-bottom: 0;
            }

            .title {
                p {
                    font-family: 'SF Pro Display';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    color: #0D2C54;
                    line-height: 17px;
                    margin-bottom: 0;
                    margin-right: 5px;
                }

                span {
                    font-family: 'SF Pro Display';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 22px;
                    color: #4030A4;
                    margin-bottom: 0;
                }
            }
        }
    }

    .description {
        background: #FFFFFF;
        box-shadow: 0px 2px 4px #CCDAEC;
        position: relative;
        padding: 20px 0;
        min-height: 20vh;
        display: block;
        border-radius: 20px;
        margin-top: 16px;
        padding: 20px;

        .des_head {
            width: 100%;
            height: 50px;
            border: none;
            padding: 0 15px;
            display: flex;
            align-items: center;
            background: #F3F6FA;

            h6 {
                font-family: "SF Pro Display";
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                color: #A0ABBE;
                margin-bottom: 0 !important;
            }
        }

        .des_body {
            margin-top: 12px;

            p {
                font-family: "SF Pro Display";
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 17px;
            }
        }
    }

    .send_btn {
        display: flex;
        align-items: flex-end;
        justify-content: right;
        height: 100%;
        .send {
            background: #FCAF03;
            border-radius: 6px;
            font-family: 'SF Pro Display';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            color: #EDF6FD;
            height: 49px;
            width: 256px;
            display: flex;
            align-items: center;
            justify-content: center;
            outline: none;
            border: none;
            cursor: pointer;
            &:hover {
                background: #E49E00;
            }
        }
        .cancel{
            background: #A0ABBE;
            border-radius: 6px;
            font-family: 'SF Pro Display';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            color: #EDF6FD;
            height: 49px;
            width: 256px;
            display: flex;
            align-items: center;
            justify-content: center;
            outline: none;
            border: none;
            cursor: pointer;
            &:hover {
                background: #A0ABBE;
            }
        }
    }
}


table{
    .table__body{
        .shed_item{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 12px;
            width: 200px;
            height: 40px;
            background-color: #4030A4;
            padding: 10px;
            color: #fff;
            border-radius: 10px;
            span{
                padding: 5px;
                color: #fff;
            }
            .amount{
                width: 100px;
                background-color: #0D2C54;
                outline: none !important;
    
            }
        }
        .price_shed{
            .amount{
                border-radius: 10px;
                height: 30px;
                border: 1px solid #4030A4;
                outline: none !important;
                padding: 0 10px;
            }
        }
        td{

            .new{
               background-color: #5C60F8;
               height: 30px;
               border-radius: 10px;
               text-transform: capitalize;
               font-size: 12px;
               font-weight: 400;
               color: #fff;
               padding: 12px;
               width: 100%;
            }
            .success{
                background-color: #00BE37;
                height: 30px;
                border-radius: 10px;
                text-transform: capitalize;
               font-size: 12px;
               font-weight: 400;
               color: #fff;
               padding: 12px;
               width: 100%;
            }
            .cancel{
                background-color: #FF4960;
                border-radius: 10px;
                text-transform: capitalize;
               font-size: 12px;
               font-weight: 400;
               color: #fff;
               padding: 12px;
               width: 100%;
            }
        }
    }
}