.arxi_obj_smeta {
    background-color: #F3F6FA;
    padding-bottom: 30px;
    min-height: 86vh;

    .blog_header {
        background: #FFFFFF;
        box-shadow: 0px 2px 4px #CCDAEC;
        position: relative;
        padding: 20px 0;
        min-height: 90px;
        display: flex;
        align-items: center;
        margin-bottom: 24px;

        .className_title {
            display: flex;
            align-items: center;
            justify-content: space-between;

            a {
                position: relative;
                text-decoration: none;
                display: flex;
                align-items: flex-start;

                img {
                    object-fit: contain;
                    margin-right: 30px;
                    cursor: pointer;
                }

                h4 {
                    font-family: 'SF Pro Display';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 28px;
                    line-height: 32px;
                    color: #23222B;
                    margin-bottom: 0px;
                }
            }

            h6 {
                font-family: 'SF Pro Display';
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
                // color: #61D2A1;
                margin-bottom: 0;
            }

            span {
                font-family: 'SF Pro Display';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                color: #23222B;
                line-height: 17px;
                margin-bottom: 0;
                margin-right: 5px;
            }

            
        }
    }
    .download {
        display: flex;
        align-items: center;
        justify-content: right;
        margin-top: 12px;
        gap: 14px;
        a {
            background: #FCAF03;
            border-radius: 6px;
            display: flex;
            align-items: center;
            justify-content: right;
            height: 54px;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            color: #EDF6FD;
            border: none;
            outline: none;
            padding: 0px 16px;
            cursor: pointer;
            text-decoration: none;
        }
    }

    .smeta {
        .form_input {
            width: 100%;

            p {
                border: 1px solid #23222b !important;
                height: 56px;
                border-radius: none !important;
                border-bottom: none !important;
                width: 100%;
                text-align: center;
                background-color: #fff;
                padding: 0 18px;
                display: flex;
                justify-content: center;
                align-items: center;
                outline: none;
                font-family: 'SF Pro Display';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 17px;
                color: #23222B;
                margin-bottom: 0;
            }
        }

        table {
            width: 100%;
            border-collapse: collapse;
            border-radius: 10px;
            border: 1px solid #23222B;
            background-color: #fff;

            td,
            th {
                border: 1px solid #23222b;
            }

            input {
                background-color: unset;
                margin-left: 0 !important;
                border: none !important;
                border-radius: 10px;
                height: 50px;
                font-family: "SF Pro Display";
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #23222b;
                width: 100%;
                padding: 0 18px;
                display: flex;
                align-items: center;
                outline: none;
                position: relative;
            }

            tr {
                height: 56px;

                th {
                    padding: 0 18px;
                    text-align: center;
                    // background: #F3F6FA;
                    font-family: 'SF Pro Display';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 17px;
                    color: #23222B;
                }

                .th_first {
                    width: 3%;
                }

                .t_head {
                    width: 100%;
                }

                .form_group_cost {
                    padding: 0 18px;
                    text-align: center;
                }

                td {
                    text-align: center;
                    font-family: 'SF Pro Display';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 17px;
                    color: #23222B;
                }
            }

        }
    }

    .form_text {
        display: flex;
        align-items: center;
        gap: 15px;
        justify-content: right;
        margin: 24px 0;

        p {
            margin-bottom: 0;
            font-family: 'SF Pro Display';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 17px;
        }

        span {
            font-family: 'SF Pro Display';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 17px;
            color: #23222b;
        }
    }

    .form_text_all {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        height: 50px;
        border-radius: 6px;
        background-color: #00827B;
        color: #fff;
        gap: 16px;

        p {
            margin-bottom: 0;
            font-family: 'SF Pro Display';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 17px;
        }

        span {
            font-family: 'SF Pro Display';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 17px;
        }
    }
}